@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  cursor: none;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

a {
  cursor: none;
  user-select: none;
}

::selection {
  background-color: rgb(99 102 241);
  color: white;
}

.large-cursor {
  width: 64px;
  height: 64px;
}

.active-bullet {
  width: 12px;
  height: 24px;
}

.underline {
  text-decoration: dashed;
  display: block;
  border-bottom: solid 1px black;
}

/* .underline:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ea2129;
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
}

.underline:hover:after {
  transform: scaleX(1);
} */
