@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  cursor: none;
  scroll-behavior: smooth !important;
}

a {
  cursor: none;
}

.large-cursor {
  width: 64px;
  height: 64px;
}

.active-bullet {
  width: 12px;
  height: 24px;
}
